{
  "openapi": "3.1.0",
  "info": {
    "title": "Puntjes",
    "version": "1.0.0",
    "description": "Puntjes Loyalty API"
  },
  "servers": [
    {
      "url": "https://puntjes.app/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Wallet"
    },
    {
      "name": "Rewards"
    },
    {
      "name": "Redemptions"
    },
    {
      "name": "Products"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Vouchers"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Me"
    },
    {
      "name": "Health"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/customers/lookup": {
      "get": {
        "operationId": "lookupCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerLookupData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/customers": {
      "post": {
        "operationId": "registerCustomer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "EXTERNAL_ID_DUPLICATE",
            "status": 409
          },
          {
            "code": "IDENTIFIER_DUPLICATE",
            "status": 409
          },
          {
            "code": "LOYALTY_CARD_NOT_FOUND",
            "status": 422
          },
          {
            "code": "MARKETING_CONSENT_UNDER_AGE",
            "status": 422
          }
        ]
      }
    },
    "/customers/by-external-id/{externalId}": {
      "put": {
        "operationId": "replaceCustomerByExternalId",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "EXTERNAL_ID_NOT_FOUND",
            "status": 404
          },
          {
            "code": "IDENTIFIER_DUPLICATE",
            "status": 409
          },
          {
            "code": "MARKETING_CONSENT_UNDER_AGE",
            "status": 422
          }
        ]
      },
      "patch": {
        "operationId": "updateCustomerByExternalId",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "EXTERNAL_ID_NOT_FOUND",
            "status": 404
          },
          {
            "code": "IDENTIFIER_DUPLICATE",
            "status": 409
          },
          {
            "code": "MARKETING_CONSENT_UNDER_AGE",
            "status": 422
          }
        ]
      }
    },
    "/customers/link-external-id": {
      "post": {
        "operationId": "linkCustomerExternalId",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkExternalIdData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_ALREADY_LINKED",
            "status": 409
          },
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          },
          {
            "code": "EXTERNAL_ID_DUPLICATE",
            "status": 409
          }
        ]
      }
    },
    "/customers/by-external-id/{externalId}/send-card": {
      "post": {
        "operationId": "sendLoyaltyCardByExternalId",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLoyaltyCardRequestData"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SendLoyaltyCardResultData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CARD_SEND_THROTTLED",
            "status": 429
          },
          {
            "code": "CUSTOMER_DEACTIVATED",
            "status": 422
          },
          {
            "code": "CUSTOMER_EMAIL_SUPPRESSED",
            "status": 422
          },
          {
            "code": "CUSTOMER_HAS_NO_EMAIL",
            "status": 422
          },
          {
            "code": "EXTERNAL_ID_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/customers/{customer}/send-card": {
      "post": {
        "operationId": "sendLoyaltyCard",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLoyaltyCardRequestData"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SendLoyaltyCardResultData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CARD_SEND_THROTTLED",
            "status": 429
          },
          {
            "code": "CUSTOMER_DEACTIVATED",
            "status": 422
          },
          {
            "code": "CUSTOMER_EMAIL_SUPPRESSED",
            "status": 422
          },
          {
            "code": "CUSTOMER_HAS_NO_EMAIL",
            "status": 422
          },
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/customers/{customer}": {
      "get": {
        "operationId": "showCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetailData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/transactions": {
      "post": {
        "operationId": "submitTransaction",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TransactionData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "BRANCH_INACTIVE",
            "status": 422
          },
          {
            "code": "BRANCH_NOT_FOUND",
            "status": 422
          },
          {
            "code": "CUSTOMER_DEACTIVATED",
            "status": 422
          },
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          },
          {
            "code": "IDEMPOTENCY_KEY_CONFLICT",
            "status": 422
          },
          {
            "code": "PLAN_LIMIT_EXCEEDED",
            "status": 429
          }
        ]
      }
    },
    "/customers/{customer}/transactions": {
      "get": {
        "operationId": "listCustomerTransactions",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TransactionData"
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/PaginationLinks"
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "required": [
                        "data",
                        "links",
                        "meta"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/customers/{customer}/wallet": {
      "get": {
        "operationId": "showWallet",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WalletData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          },
          {
            "code": "WALLET_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/customers/{customer}/ledger": {
      "get": {
        "operationId": "listLedgerEntries",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "earn",
                "adjust",
                "redeem",
                "expire"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LedgerEntryData"
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/PaginationLinks"
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "required": [
                        "data",
                        "links",
                        "meta"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          },
          {
            "code": "WALLET_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/customers/{customer}/wallet-pass": {
      "get": {
        "operationId": "downloadWalletPass",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "apple",
                "google"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/GoogleWalletPassData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              },
              "application/vnd.apple.pkpass": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_DEACTIVATED",
            "status": 422
          },
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/customers/{customer}/wallet/adjust": {
      "post": {
        "operationId": "adjustWallet",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustWalletApiData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LedgerEntryData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_DEACTIVATED",
            "status": 422
          },
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          },
          {
            "code": "IDEMPOTENCY_KEY_CONFLICT",
            "status": 422
          },
          {
            "code": "INSUFFICIENT_BALANCE",
            "status": 422
          },
          {
            "code": "WALLET_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/rewards": {
      "get": {
        "operationId": "listRewards",
        "tags": [
          "Rewards"
        ],
        "parameters": [
          {
            "name": "affordable",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RewardCatalogItemData"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/customers/{customer}/redemptions": {
      "get": {
        "operationId": "listCustomerRedemptions",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "valid",
                "used",
                "expired",
                "cancelled"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/RedemptionLookupData"
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/PaginationLinks"
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "required": [
                        "data",
                        "links",
                        "meta"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/redemptions": {
      "post": {
        "operationId": "redeemReward",
        "tags": [
          "Redemptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRedemptionData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RedemptionCreatedData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "BRANCH_NOT_FOUND",
            "status": 422
          },
          {
            "code": "BRANCH_REQUIRED",
            "status": 422
          },
          {
            "code": "CUSTOMER_DEACTIVATED",
            "status": 422
          },
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          },
          {
            "code": "IDEMPOTENCY_KEY_CONFLICT",
            "status": 422
          },
          {
            "code": "INSUFFICIENT_BALANCE",
            "status": 422
          },
          {
            "code": "NO_WALLET",
            "status": 422
          },
          {
            "code": "OUT_OF_STOCK",
            "status": 422
          },
          {
            "code": "REDEMPTION_LIMIT_REACHED",
            "status": 422
          },
          {
            "code": "REWARD_NOT_FOUND",
            "status": 404
          },
          {
            "code": "REWARD_UNAVAILABLE",
            "status": 422
          }
        ]
      }
    },
    "/redemptions/{code}": {
      "get": {
        "operationId": "lookupRedemption",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RedemptionLookupData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "REDEMPTION_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/redemptions/{code}/verify": {
      "post": {
        "operationId": "verifyRedemption",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RedemptionVerificationData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CODE_ALREADY_USED",
            "status": 422
          },
          {
            "code": "CODE_CANCELLED",
            "status": 422
          },
          {
            "code": "CODE_EXPIRED",
            "status": 422
          },
          {
            "code": "REDEMPTION_NOT_FOUND",
            "status": 404
          },
          {
            "code": "VERIFICATION_FAILED",
            "status": 422
          }
        ]
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "archived"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductData"
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/PaginationLinks"
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "required": [
                        "data",
                        "links",
                        "meta"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "PRODUCT_EXTERNAL_ID_DUPLICATE",
            "status": 409
          }
        ]
      }
    },
    "/products/batch": {
      "post": {
        "operationId": "bulkUpsertProducts",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BulkUpsertResponseData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "BATCH_TOO_LARGE",
            "status": 422
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "products"
                ],
                "properties": {
                  "products": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/BulkUpsertItemData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{externalId}/reward": {
      "post": {
        "operationId": "createRewardFromProduct",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRewardFromProductData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RewardData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "IDEMPOTENCY_KEY_CONFLICT",
            "status": 422
          },
          {
            "code": "PRODUCT_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/products/{externalId}": {
      "get": {
        "operationId": "showProduct",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "PRODUCT_NOT_FOUND",
            "status": 404
          }
        ]
      },
      "put": {
        "operationId": "upsertProduct",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProductData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "PRODUCT_NOT_FOUND",
            "status": 404
          }
        ]
      },
      "delete": {
        "operationId": "deleteProduct",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "PRODUCT_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CampaignListData"
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/PaginationLinks"
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "required": [
                        "data",
                        "links",
                        "meta"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "BRANCH_NOT_FOUND",
            "status": 422
          }
        ]
      }
    },
    "/customers/{customer}/vouchers": {
      "get": {
        "operationId": "listCustomerVouchers",
        "tags": [
          "Vouchers"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerVoucherData"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "CUSTOMER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/vouchers/{code}": {
      "get": {
        "operationId": "lookupVoucher",
        "tags": [
          "Vouchers"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CampaignVoucherLookupData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "VOUCHER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/vouchers/{code}/verify": {
      "post": {
        "operationId": "verifyVoucher",
        "tags": [
          "Vouchers"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCampaignVoucherData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CampaignVoucherVerificationData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "BRANCH_NOT_FOUND",
            "status": 422
          },
          {
            "code": "BRANCH_REQUIRED",
            "status": 422
          },
          {
            "code": "IDEMPOTENCY_KEY_CONFLICT",
            "status": 422
          },
          {
            "code": "VOUCHER_ALREADY_USED",
            "status": 422
          },
          {
            "code": "VOUCHER_EXPIRED",
            "status": 422
          },
          {
            "code": "VOUCHER_NOT_FOUND",
            "status": 404
          }
        ]
      }
    },
    "/statistics": {
      "get": {
        "operationId": "showStatistics",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "7d",
                "30d",
                "90d"
              ],
              "default": "30d"
            }
          },
          {
            "name": "top_products_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/StatisticsApiData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-error-codes": [
          {
            "code": "BRANCH_NOT_FOUND",
            "status": 422
          },
          {
            "code": "VENDOR_CONTEXT_REQUIRED",
            "status": 400
          }
        ]
      }
    },
    "/me": {
      "get": {
        "operationId": "showMe",
        "tags": [
          "Me"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VendorBrandingData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "checkHealth",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        }
                      },
                      "required": [
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "AdjustWalletApiData": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "reason",
          "idempotency_key"
        ],
        "title": "AdjustWalletApiData"
      },
      "AnniversaryCampaignConfigData": {
        "type": "object",
        "properties": {
          "years": {
            "type": "integer",
            "description": "How many years after joining the gift is sent."
          },
          "gift": {
            "description": "What the customer gets. Its `type` says which shape this is.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PointsGiftData"
              },
              {
                "$ref": "#/components/schemas/FreeProductGiftData"
              },
              {
                "$ref": "#/components/schemas/DiscountGiftData"
              }
            ],
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "points": "#/components/schemas/PointsGiftData",
                "free_product": "#/components/schemas/FreeProductGiftData",
                "discount": "#/components/schemas/DiscountGiftData"
              }
            }
          },
          "backfill": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether customers who passed the mark before the campaign started also get it."
          },
          "branch_ids": {
            "type": "array",
            "description": "The branches this campaign runs in. Absent or empty means all of them.",
            "items": {
              "type": "integer"
            }
          },
          "type": {
            "type": "string",
            "description": "Which shape this is.",
            "enum": [
              "anniversary"
            ]
          }
        },
        "required": [
          "type",
          "years",
          "gift"
        ],
        "title": "AnniversaryCampaignConfigData"
      },
      "BranchReferenceData": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "external_id",
          "name",
          "type"
        ],
        "title": "BranchReferenceData"
      },
      "BulkUpsertResponseData": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkUpsertResultData"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/BulkUpsertSummaryData"
          }
        },
        "required": [
          "results",
          "summary"
        ],
        "title": "BulkUpsertResponseData"
      },
      "BulkUpsertResultData": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/ProductData"
          },
          "errors": {
            "type": "object",
            "description": "Each rejected field and its messages. Absent when the item succeeded.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "index",
          "status"
        ],
        "title": "BulkUpsertResultData"
      },
      "BulkUpsertSummaryData": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "created": {
            "type": "integer"
          },
          "updated": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          }
        },
        "required": [
          "total",
          "created",
          "updated",
          "failed"
        ],
        "title": "BulkUpsertSummaryData"
      },
      "CampaignListData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "moment": {
            "type": [
              "string",
              "null"
            ]
          },
          "config": {
            "description": "Its `type` says which shape this is.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TransactionCampaignConfigData"
              },
              {
                "$ref": "#/components/schemas/MomentCampaignConfigData"
              },
              {
                "$ref": "#/components/schemas/NthPurchaseCampaignConfigData"
              },
              {
                "$ref": "#/components/schemas/AnniversaryCampaignConfigData"
              },
              {
                "$ref": "#/components/schemas/WinBackCampaignConfigData"
              },
              {
                "type": "null"
              }
            ],
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "transaction": "#/components/schemas/TransactionCampaignConfigData",
                "moment": "#/components/schemas/MomentCampaignConfigData",
                "nth_purchase": "#/components/schemas/NthPurchaseCampaignConfigData",
                "anniversary": "#/components/schemas/AnniversaryCampaignConfigData",
                "win_back": "#/components/schemas/WinBackCampaignConfigData"
              }
            }
          },
          "version": {
            "type": "integer"
          },
          "multiplier": {
            "type": [
              "integer",
              "null"
            ]
          },
          "recurrence_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "recurrence_config": {
            "description": "Its `type` says which shape this is.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/DateRangeRecurrenceData"
              },
              {
                "$ref": "#/components/schemas/DaysOfWeekRecurrenceData"
              },
              {
                "$ref": "#/components/schemas/SpecificDatesRecurrenceData"
              },
              {
                "type": "null"
              }
            ],
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "date_range": "#/components/schemas/DateRangeRecurrenceData",
                "days_of_week": "#/components/schemas/DaysOfWeekRecurrenceData",
                "specific_dates": "#/components/schemas/SpecificDatesRecurrenceData"
              }
            }
          },
          "schedule_summary": {
            "type": "string"
          },
          "starts_at": {
            "type": "string"
          },
          "ends_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatusData"
          },
          "min_transaction_amount": {
            "type": [
              "number",
              "null"
            ]
          },
          "branches": {
            "type": [
              "array",
              "null"
            ],
            "description": "null means every branch",
            "items": {
              "$ref": "#/components/schemas/BranchReferenceData"
            }
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "family",
          "moment",
          "config",
          "version",
          "multiplier",
          "recurrence_type",
          "recurrence_config",
          "schedule_summary",
          "starts_at",
          "ends_at",
          "status",
          "min_transaction_amount",
          "branches",
          "created_at",
          "updated_at"
        ],
        "title": "CampaignListData"
      },
      "CampaignProductRuleData": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string",
            "description": "Your own identifier for the product, the same one the catalogue uses."
          },
          "name": {
            "type": "string",
            "description": "The product name as it was when the campaign was saved."
          }
        },
        "required": [
          "sku",
          "name"
        ],
        "title": "CampaignProductRuleData"
      },
      "CampaignStatusData": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "value",
          "label"
        ],
        "title": "CampaignStatusData"
      },
      "CampaignVoucherLookupData": {
        "type": "object",
        "properties": {
          "voucher_code": {
            "type": "string"
          },
          "discount": {
            "description": "How much comes off, for a discount bon. Its `type` says which shape this is.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VoucherPercentageDiscountData"
              },
              {
                "$ref": "#/components/schemas/VoucherFixedDiscountData"
              },
              {
                "type": "null"
              }
            ],
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "percentage": "#/components/schemas/VoucherPercentageDiscountData",
                "fixed": "#/components/schemas/VoucherFixedDiscountData"
              }
            }
          },
          "valid_until": {
            "type": [
              "string",
              "null"
            ]
          },
          "consumed_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the bon was spent, or null while it is not."
          },
          "campaign_id": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "products": {
            "type": [
              "array",
              "null"
            ],
            "description": "What to hand over, for a free-product bon.",
            "items": {
              "$ref": "#/components/schemas/VoucherGiftProductData"
            }
          },
          "status": {
            "type": "string",
            "description": "`valid`, `used` or `expired`."
          }
        },
        "required": [
          "voucher_code",
          "discount",
          "valid_until",
          "consumed_at",
          "campaign_id",
          "kind",
          "products",
          "status"
        ],
        "title": "CampaignVoucherLookupData"
      },
      "CampaignVoucherVerificationData": {
        "type": "object",
        "properties": {
          "voucher_code": {
            "type": "string"
          },
          "discount": {
            "description": "How much comes off, for a discount bon. Its `type` says which shape this is.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VoucherPercentageDiscountData"
              },
              {
                "$ref": "#/components/schemas/VoucherFixedDiscountData"
              },
              {
                "type": "null"
              }
            ],
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "percentage": "#/components/schemas/VoucherPercentageDiscountData",
                "fixed": "#/components/schemas/VoucherFixedDiscountData"
              }
            }
          },
          "valid_until": {
            "type": [
              "string",
              "null"
            ]
          },
          "consumed_at": {
            "type": "string"
          },
          "campaign_id": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "products": {
            "type": [
              "array",
              "null"
            ],
            "description": "What to hand over, for a free-product bon.",
            "items": {
              "$ref": "#/components/schemas/VoucherGiftProductData"
            }
          }
        },
        "required": [
          "voucher_code",
          "discount",
          "valid_until",
          "consumed_at",
          "campaign_id",
          "kind",
          "products"
        ],
        "title": "CampaignVoucherVerificationData"
      },
      "CategoryRevenueData": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "units": {
            "type": "integer"
          },
          "revenue": {
            "type": "integer"
          },
          "isOther": {
            "type": "boolean"
          }
        },
        "required": [
          "category"
        ],
        "title": "CategoryRevenueData"
      },
      "CommerceStatisticsData": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "integer"
          },
          "revenue_cents": {
            "type": "integer"
          },
          "average_order_value_cents": {
            "type": "integer"
          },
          "itemized": {
            "$ref": "#/components/schemas/ItemizedStatisticsData"
          },
          "volume_trend": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeBucketData"
            }
          }
        },
        "required": [
          "orders",
          "revenue_cents",
          "average_order_value_cents",
          "itemized"
        ],
        "title": "CommerceStatisticsData"
      },
      "CreateCustomerData": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "date_of_birth": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_since": {
            "type": [
              "string",
              "null"
            ]
          },
          "locale": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "nl",
              "en",
              null
            ]
          },
          "marketing_consent": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "marketing_consent_statement_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "identifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateIdentifierData"
            }
          }
        },
        "title": "CreateCustomerData"
      },
      "CreateIdentifierData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "email",
              "loyalty_card"
            ]
          },
          "value": {
            "type": "string"
          },
          "is_primary": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "value"
        ],
        "title": "CreateIdentifierData"
      },
      "CreateProductData": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_cents": {
            "type": [
              "integer",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "category": {
            "type": [
              "string",
              "null"
            ]
          },
          "stock": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "archived"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          }
        },
        "required": [
          "external_id",
          "name"
        ],
        "title": "CreateProductData"
      },
      "CreateRedemptionData": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "reward_id": {
            "type": "integer"
          },
          "idempotency_key": {
            "type": "string"
          },
          "branch": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "identifier",
          "reward_id",
          "idempotency_key"
        ],
        "title": "CreateRedemptionData"
      },
      "CreateRewardFromProductData": {
        "type": "object",
        "properties": {
          "point_cost": {
            "type": "integer"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "total_stock": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "available_from": {
            "type": [
              "string",
              "null"
            ]
          },
          "available_until": {
            "type": [
              "string",
              "null"
            ]
          },
          "code_valid_for_hours": {
            "type": [
              "integer",
              "null"
            ]
          },
          "payment_amount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "idempotency_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "max_redemptions_per_customer": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "point_cost"
        ],
        "title": "CreateRewardFromProductData"
      },
      "CreateTransactionData": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "idempotency_key": {
            "type": "string"
          },
          "total_amount": {
            "type": "integer"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_reference": {
            "type": [
              "string",
              "null"
            ]
          },
          "branch": {
            "type": [
              "string",
              "null"
            ]
          },
          "items": {
            "type": "array",
            "description": "Optional order line items.",
            "items": {
              "$ref": "#/components/schemas/CreateTransactionItemData"
            }
          }
        },
        "required": [
          "identifier",
          "idempotency_key",
          "total_amount"
        ],
        "title": "CreateTransactionData"
      },
      "CreateTransactionItemData": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "unit_price": {
            "type": "integer"
          },
          "sku": {
            "type": [
              "string",
              "null"
            ]
          },
          "category": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "quantity",
          "unit_price"
        ],
        "title": "CreateTransactionItemData"
      },
      "CustomerData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "date_of_birth": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_since": {
            "type": [
              "string",
              "null"
            ]
          },
          "locale": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/CustomerStatusData"
          },
          "identifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerIdentifierData"
            }
          },
          "marketingConsent": {
            "type": "boolean"
          },
          "marketingConsentGrantedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentGrantedSource": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentWithdrawnAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentWithdrawnSource": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentStatementVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentRecordedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentRecordedByClientId": {
            "type": [
              "string",
              "null"
            ]
          },
          "loyalty_card_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "anonymized_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "first_name",
          "last_name",
          "email",
          "phone",
          "external_id",
          "date_of_birth",
          "customer_since",
          "locale",
          "status",
          "identifiers",
          "marketingConsent",
          "marketingConsentGrantedAt",
          "marketingConsentGrantedSource",
          "marketingConsentWithdrawnAt",
          "marketingConsentWithdrawnSource",
          "marketingConsentStatementVersion",
          "marketingConsentRecordedBy",
          "marketingConsentRecordedByClientId",
          "loyalty_card_code",
          "deactivated_at",
          "anonymized_at",
          "created_at",
          "updated_at"
        ],
        "title": "CustomerData"
      },
      "CustomerDetailData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "date_of_birth": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_since": {
            "type": [
              "string",
              "null"
            ]
          },
          "locale": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/CustomerStatusData"
          },
          "identifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerIdentifierData"
            }
          },
          "marketingConsent": {
            "type": "boolean"
          },
          "marketingConsentGrantedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentGrantedSource": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentWithdrawnAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentWithdrawnSource": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentStatementVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentRecordedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketingConsentRecordedByClientId": {
            "type": [
              "string",
              "null"
            ]
          },
          "loyalty_card_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "anonymized_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_deactivated": {
            "type": "boolean",
            "description": "`true` for a deactivated customer; the key is absent for any other customer."
          }
        },
        "required": [
          "id",
          "first_name",
          "last_name",
          "email",
          "phone",
          "external_id",
          "date_of_birth",
[...]
